<h3>My Calender JSON</h3>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<ul class = "list">
	<li class= "list">
		<%= @carry %>
	</li>
</ul>
<a href="/disconnect">Log Out</a>